<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to a new beginning</title>
</head>
<body>
    Hey there {{ name }}
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAPpog8Qw3vJF-J3sLEBWC5LuN26Frh0nc",
    authDomain: "sunny-26367.firebaseapp.com",
    databaseURL: "https://sunny-26367.firebaseio.com",
    projectId: "sunny-26367",
    storageBucket: "sunny-26367.appspot.com",
    messagingSenderId: "722703987672"
  };
  firebase.initializeApp(config);
</script>
</body>
</html>